<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="backClick()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>File missing cases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item lines = "none">
          <b>Details of missing person</b>
        </ion-item>
        <!--
    <ion-item>
      <ion-label position = "floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position = "floating">Age</ion-label>
        <ion-input type="text" [(ngModel)]="age" name="age"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position = "floating">Gender</ion-label>
      <ion-input type="text" [(ngModel)]="gender" name="gender"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Contact address</ion-label>
      <ion-input type="text" [(ngModel)]="address" name="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Phone</ion-label>
      <ion-input type="text" [(ngModel)]="Phone" name="phone"></ion-input>
    </ion-item> 
   -->
  </ion-list>

<br/>
<app-loading *ngIf="busy"></app-loading>
  <div class="center" *ngIf="!busy">
    <div class="camera"></div>
      <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" #fileButton/>
      <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline">Upload image</ion-button>

      <ion-card *ngIf ="imageURL">
          <!--<app-loading *ngIf="!imageURL"></app-loading>-->

        <ion-img src="https://ucarecdn.com/{{ imageURL }}/"></ion-img>

      <ion-card-content>
        <ion-textarea placeholder="enter name" [(ngModel)]="name"></ion-textarea>
        <ion-textarea placeholder="enter age" [(ngModel)]="age"></ion-textarea>
        <ion-textarea placeholder="enter gender" [(ngModel)]="gender"></ion-textarea>
        <ion-textarea placeholder="enter adress" [(ngModel)]="address"></ion-textarea>
        <ion-textarea placeholder="enter phone" [(ngModel)]="phone"></ion-textarea>
        <ion-textarea placeholder="enter desc" [(ngModel)]="desc"></ion-textarea>

      </ion-card-content>
    </ion-card>
    </div> 
    <br/> 
<!--<ion-button shape="round" color="primary" (click)="createPost()">Submit</ion-button>-->
  <div padding>
    <ion-button shape="round" fill="solid" expand="block" color="dark" (click)="createPost()" >Submit</ion-button>
  </div>

    <div *ngIf= "noFace">
<p clas="no-face">Image with faces performs better</p>
    </div>
  
</ion-content>