
<ion-header>
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="dark" (click)="backClick()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      <ion-title>Add missing person</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

<ion-list>
<ion-item lines = "none">
    <b>Enter details of missing person</b>
  </ion-item>
</ion-list>

<br/>
<!--
<app-loading *ngIf="busy"></app-loading>-->

    <div class="center" *ngIf="!busy">
      <div class="camera"></div>
      <input type="file" *ngIf="!imgURL" (change)="fileChange($event)" class="filebtn" #filebutton/>
      <ion-button shape="round" color="primary" (click)="uploadImage()" *ngIf="!imgURL" fill="outline">Upload image</ion-button>
      
      <ion-card *ngIf ="imgURL">
        <ion-img src="https://ucarecdn.com/{{ imgURL }}/"></ion-img>
       
      <ion-card-content>
        <ion-textarea clearInput="true" placeholder="enter name" [(ngModel)]="name"></ion-textarea>
        <ion-textarea clearInput="true" placeholder="enter age" [(ngModel)]="age"></ion-textarea>
        <ion-textarea clearInput="true" placeholder="enter gender" [(ngModel)]="gender"></ion-textarea>
        <ion-textarea clearInput="true" placeholder="enter adress" [(ngModel)]="address"></ion-textarea>
        <ion-textarea clearInput="true" placeholder="enter phone" [(ngModel)]="phone"></ion-textarea>
        <ion-textarea clearInput="true" placeholder="enter desc" [(ngModel)]="desc"></ion-textarea>

      </ion-card-content>
    </ion-card>
    </div> 
    <br/> 
<!--<ion-button shape="round" color="primary" (click)="createPost()">Submit</ion-button>-->
  <div padding>
    <ion-button shape="round" fill="solid" expand="block" color="dark" (click)="addMissingPerson()" >Submit</ion-button>
  </div>
</ion-content>