
  <ion-tabs #admintabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="adminhome">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="missingpersonsimage">
        <ion-icon name="images"></ion-icon>
        <ion-label> Missing persons image</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="adminnotification">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Notification</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="adminaccount">
        <ion-icon name="person"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  

