<ion-tabs #listcase>
  <ion-tab-bar slot="top">
    
    <ion-tab-button tab="usercomplaint">
      <ion-icon name="list"></ion-icon>
      <ion-label>Complaints</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="usermissing">
      <ion-icon name="list"></ion-icon>
      <ion-label>Missing cases</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usercrime">
      <ion-icon name="list"></ion-icon>
      <ion-label>Crimes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

