<ion-header>
  <ion-toolbar>
      <ion-button slot="start" fill="clear" color="dark" (click)="backClick()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    <ion-title>File Complaint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item lines = "none">
        <b>Enter the details of complaint</b>
      </ion-item>
    <ion-item>
      <ion-label position = "floating">Subject</ion-label>
      <ion-input type="text" [(ngModel)]="subject" name="subject"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position = "floating">Location</ion-label>
        <ion-input type="text" [(ngModel)]="location" name="location"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position = "floating">Description</ion-label>
      <ion-input type="text" [(ngModel)]="description" name="description"></ion-input>
      </ion-item>
  </ion-list>
  <div padding>
      <ion-button fill="solid" expand="block" color="dark" (click)="fileComplaint()" >Submit</ion-button>
    </div>
</ion-content>
