<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col>
				ion-col
			</ion-col>
			<ion-col>
				ion-col
			</ion-col>
			<ion-col>
				ion-col
			</ion-col>
			<ion-col>
				ion-col
			</ion-col>
		</ion-row>
	
		<ion-row>
			<ion-col size="6">
				ion-col [size="6"]
			</ion-col>
			<ion-col>
				ion-col
			</ion-col>
			<ion-col>
				ion-col
			</ion-col>
		</ion-row>
	
		<ion-row>
			<ion-col size="3">
				ion-col [size="3"]
			</ion-col>
			<ion-col>
				ion-col
			</ion-col>
			<ion-col size="3">
				ion-col [size="3"]
			</ion-col>
		</ion-row>
	
		<ion-row>
			<ion-col size="3">
				ion-col [size="3"]
			</ion-col>
			<ion-col size="3" offset="3">
				ion-col [size="3"] [offset="3"]
			</ion-col>
		</ion-row>
	
		<ion-row>
			<ion-col>
				ion-col
			</ion-col>
			<ion-col>
				ion-col
				<br>#
			</ion-col>
			<ion-col>
				ion-col
				<br>#
				<br>#
			</ion-col>
			<ion-col>
				ion-col
				<br>#
				<br>#
				<br>#
			</ion-col>
		</ion-row>
	
		<ion-row>
			<ion-col align-self-start>
				ion-col [start]
			</ion-col>
			<ion-col align-self-center>
				ion-col [center]
			</ion-col>
			<ion-col align-self-end>
				ion-col [end]
			</ion-col>
			<ion-col>
				ion-col
				<br>#
				<br>#
			</ion-col>
		</ion-row>
	
		<ion-row align-items-start>
			<ion-col>
				[start] ion-col
			</ion-col>
			<ion-col>
				[start] ion-col
			</ion-col>
			<ion-col align-self-end>
				[start] ion-col [end]
			</ion-col>
			<ion-col>
				ion-col
				<br>#
				<br>#
			</ion-col>
		</ion-row>
	
		<ion-row align-items-center>
			<ion-col>
				[center] ion-col
			</ion-col>
			<ion-col>
				[center] ion-col
			</ion-col>
			<ion-col>
				[center] ion-col
			</ion-col>
			<ion-col>
				ion-col
				<br>#
				<br>#
			</ion-col>
		</ion-row>
	
		<ion-row align-items-end>
			<ion-col>
				[end] ion-col
			</ion-col>
			<ion-col align-self-start>
				[end] ion-col [start]
			</ion-col>
			<ion-col>
				[end] ion-col
			</ion-col>
			<ion-col>
				ion-col
				<br>#
				<br>#
			</ion-col>
		</ion-row>
	
		<ion-row>
			<ion-col size="12" size-sm>
				ion-col [size="12"] [size-sm]
			</ion-col>
			<ion-col size="12" size-sm>
				ion-col [size="12"] [size-sm]
			</ion-col>
			<ion-col size="12" size-sm>
				ion-col [size="12"] [size-sm]
			</ion-col>
			<ion-col size="12" size-sm>
				ion-col [size="12"] [size-sm]
			</ion-col>
		</ion-row>
	
		<ion-row>
			<ion-col size="12" size-md>
				ion-col [size="12"] [size-md]
			</ion-col>
			<ion-col size="12" size-md>
				ion-col [size="12"] [size-md]
			</ion-col>
			<ion-col size="12" size-md>
				ion-col [size="12"] [size-md]
			</ion-col>
			<ion-col size="12" size-md>
				ion-col [size="12"] [size-md]
			</ion-col>
		</ion-row>
	
		<ion-row>
			<ion-col size="6" size-lg offset="3">
				ion-col [size="6"] [size-lg] [offset="3"]
			</ion-col>
			<ion-col size="3" size-lg>
				ion-col [size="3"] [size-lg]
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<!--
<ion-content padding>

	<app-loading *ngIf="!posts"></app-loading>

	<div id="profile-info" *ngIf="username">
		<ion-grid>
			<ion-row>
				<ion-col size="4" class="user-image">
					<ion-img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/"></ion-img>
				</ion-col>
				<ion-col size="8">
					<p>{{ username }}</p>
					<ion-button shape="round" color="primary" routerLink="/tabs/edit-profile">Edit Profile</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>


	<div id="images" *ngIf="posts">
		<div class="image" *ngFor="let post of posts">
			<img (click)="goTo(post)" class="main-image" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/center/" />
		</div>
	</div>

</ion-content>-->