<ion-header>
    <!--<ion-buttons left>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>  


    <ion-buttons left>
    <ion-menu-toggle>
       <ion-icon name="menu"></ion-icon>
    </ion-menu-toggle>
  </ion-buttons>  
-->

  <ion-menu-toggle auto-hide= "false">
    <ion-icon name="menu"></ion-icon>
  </ion-menu-toggle>
  
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
