<ion-header>
  <ion-toolbar>
      <ion-button slot="start" color="dark" fill="clear">
          <ion-menu-button></ion-menu-button>
        </ion-button>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list class="headerMAin">
        <ion-item>
          <h3 class="userName"> {{ name }}</h3>
        </ion-item>
        <ion-item lines="full">
          <ion-text color="dark">
           <h5 class="userDetails">{{ no }}</h5>
          </ion-text>
        </ion-item>
      </ion-list>
      
      <ion-list>
      <ion-item lines="none">
          <ion-icon name="person"></ion-icon>
          <a routerLink="/profile">Profile</a>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="list"></ion-icon>
        <a routerLink="/listcase">List cases</a>

      </ion-item>

      <ion-item lines="full" href="#login">
          <ion-icon name="log-out"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
